[Unit]
Description=Prometheus Blackbox Exporter
Documentation=https://github.com/prometheus/blackbox_exporter/
After=network.target

[Service]
User=prometheus
ExecStart={{ base_dir }}/blackbox_exporter/blackbox_exporter --config.file={{ base_dir }}/blackbox_exporter/config.yml {{ options }}

[Install]
WantedBy=multi-user.target
