[Unit]
Description=Prometheus Node Exporter
Documentation=https://github.com/prometheus/node_exporter
After=network.target

[Service]
User=prometheus
ExecStart={{ base_dir }}/node_exporter/node_exporter --collector.textfile.directory={{ base_dir }}/textfiles/ --web.config={{ base_dir }}/node_exporter/web_config.yml {{ options }}

[Install]
WantedBy=multi-user.target
